.btn {
  display: inline-block;
  box-sizing: border-box;
  max-width: 280px;
  padding: 15px 35px;
  font-weight: 700;
  font-size: 18px;
  font-family: $ffam-base;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-main;
  background-color: transparent;
  border: 2px solid $color-main;
  outline: none;
  transition: all 0.3s;

  &:hover,
  &:focus,
  &:active {
    color: $color-light;
    background-color: $color-main;
  }

  &:active {
    opacity: 0.5;
  }

  &--slider {
    margin: auto;
    color: $color-light;
    border-color: $color-light;

    &:hover,
    &:focus {
      color: $color-main;
      background-color: rgba($color-gray, 0.7);
      border-color: $color-main;
    }
  }

  &--contact {
    margin-top: 60px;
  }
}
/*
@media (min-width: $bp-middle) {
  .btn {
    font-size: 16px;

    &--form {
      font-size: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}
*/
