.cv {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;

  & + & {
    border-top: 1px solid #cccccc;
  }

  @include respond(tablet-small) {
    display: block;
  }
}

.cv__list {
  @include ul-clear;
  padding-top: 40px;
}

.cv__item {
  margin-bottom: 40px;

  .text {
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px solid #cccccc;
  }
}

.cv__option {
  font-size: 18px;
  font-weight: 400;

  span {
    font-weight: 500;
  }
}

.cv__point {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  color: $color-light;
  background-color: $color-main;
}
