.page-header {
  color: $color-light;
  background-color: $color-dark;
}

.page-header__inner {
  @include container;
  display: flex;
  justify-content: space-between;
  min-height: 70px;

  @include respond(tablet) {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  @include respond(mobile) {
    flex-direction: column;
    padding-top: 10px;
  }
}
