.points {
  @include ul-clear;
  display: flex;
  margin-right: -$indent;
  margin-left: -$indent;
}

.points__item {
  flex: 1 1 0;
  padding-left: 10px;
  padding-right: 10px;
}

@include respond(mobile) {
  .points {
    display: block;
  }

  .points__item {
    width: 100%;
  }
}
