$ffam-base: "Roboto", "Arial", "Helvetica", "Tahoma", sans-serif;

$color-main: #68b738;
$color-secondary: #5eaa2f;
$color-text: #444444;
$color-light: #ffffff;
$color-dark: #111111;
$color-gray: #e6e6e6;
$color-light-gray: #f2f2f2;

$indent: 20px;
$brd-rad: 7px;

$bp-xsmall: 320px;
$bp-middle: 768px;
$bp-xlarge: 1220px + 2 * 40px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
