$ffam-base: "Roboto", "Arial", "Helvetica", "Tahoma", sans-serif;
$fz-text-sm: 16px;
$fz-title-sm: 24px;

$color-main: #2ecc71;
$color-secondary: #566366;
$color-text: #919191;
$color-light: #ffffff;
$color-dark: #252e30;
$color-deep-dark: #191f21;
$color-gray: #4b5456;
$color-light-gray: #f2f2f1;

$indent: 10px;
/*
$bp-xsmall: 320px;
$bp-middle: 768px;
$bp-xlarge: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
*/
